* {
    margin: 0;
    padding: 0;
}

body {
    background: whitesmoke;
}

.headder {
    width: 100%;
    height: 70px;
    background: white;
    border-bottom: 1px solid lightgray;
}

.headder_text {
    box-sizing: border-box;
    padding: 20px;
    font-size: 40px;
    width: 60%;
    height: 100%;
    float: left;
}

.menu {
    width: 10%;
    height: 100%;
    text-align: center;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding: 25px;
    border-right: 1px solid lightgray;
    transition: .5s;
}

.menu:hover {
    background-color: lightgray;
    cursor: pointer;
}